* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body{
    background-color: rgba(16, 18, 32, 1);
}

h1{
color: white;
font-family: Poppins;
font-weight: 600;
font-size: 24px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;

}


header {
    height: 64px;
    background-color: #0C0E18;
    display: flex;
    align-items: center;
}

.glava {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 659px;
}

.juid {
    display: flex;
    align-items: center;
    gap: 29px;
}

.btn1 {
    padding-right: 35px;
    width: 175px;
    height: 50px;
    border-radius: 15px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: right;
    border: none;
    background-color: rgba(12, 14, 24, 0.4);
    color: white;
}

.btn2{
     padding-right: 70px;
    width: 175px;
    height: 50px;
    border-radius: 15px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: right;
    border: none;
    background-color: #BFAFF2;
}

.btn1:hover{
    color: white;
    background-color: #BFAFF2;
}

.btn2:hover{
    color: white;
    background:#0C0E18 ;
}

select{
    width: 83px;
height: 32px;
background: #0C0E18;
color: white;
border: none;
border-radius: 10px;
}

select:hover{
    color: white;

}

option{
width: 78px;
height: 20px;
border-radius: 10px;
}

main{
    margin-top: 200px;
}


.bigbox{
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.box{
    position: relative;
    width: 325px;
height: 240px;
border-radius: 32px;
background-color: rgba(35, 32, 40, 1);
color: white;
text-align: center;
padding-top: 50px;
padding-left: 16px;
padding-right: 16px;
}

.box img{
position: absolute;
top: -280px;
left: 50px;
}

.box p{
    font-family: Outfit;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin-top: 8px;
}

.box h3{
    font-family: Outfit;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 120%;
letter-spacing: 0%;
text-align: center;

}

footer{
    height: 64px;
    background-color: #0C0E18;

}

.naga{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
}

li{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}